<app-header></app-header>

<div class="container d-flex justify-content-center">
  
      <app-liste-card *ngFor="let post of posts$|async" [posts]="post"></app-liste-card>
    </div>

<!-- <div class="accueil">
    
    
    <div class="container d-flex justify-content-around" >
      <div class="w-50">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Quartier</th>
              <th scope="col">Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Yeumbeul</td>
              <td>Medina</td>
            </tr>
            <tr>
              <td>1000</td>
              <td>3000</td>
            </tr>
          
          </tbody>
        </table>
      </div>
      <div class="col-">
        <h1>Qui sommes-nous!</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> 
          Error tempore illo dolore incidunt asperiores et deserunt harum quo temporibus commodi,<br>
          aperiam nostrum,placeat quas quod non ea delectus labore tempora?<br>
          Odit distinctio id reprehenderit modi eius veniam est earum dicta voluptas vel suscipit iure doloremque,<br>
           rerum sint dolorem repudiandae, exercitationem sit nihil. Quis tempora facilis fuga repellendus, natus nemo neque?<br>
          Ipsam, error officia sapiente, atque ratione dignissimos voluptatibus nisi repudiandae, facere commodi quaerat quasi blanditiis.<br> 
          Eligendi cupiditate vitae quidem quos deserunt, perspiciatis minus excepturi ut consequatur. Libero dolores numquam autem!
        </p>
      </div>
    </div>

  </div> -->
<app-footer></app-footer>

